hr{
    border: 2px solid #43B1F1;
}
.navbar-default {
    border-color: #d9534f;
}
.navbar-default .navbar-nav > li >a{
    color: #d9534f;
}
.navbar-default .navbar-nav >li >a:hover{
    background-color: #d9534f;
}
.navbar-info{
    border-color: #43B1F1;
}
.panel-warning>.panel-heading {
    color: #000000;
    background-image: -webkit-linear-gradient(top,#d9534f 0,#d9534f 100%);
    background-image: linear-gradient(to bottom,#d9534f 0,#d9534f 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3',endColorstr='#fffaf2cc',GradientType=0);
}
.panel-info>.panel-body{
    border:1px #43B1F1 solid;
    border-top:none;
}
.panel-info>.panel-heading {
    color: #000000;
    background-image: -webkit-linear-gradient(top,#43B1F1 0,#43B1F1 100%);
    background-image: linear-gradient(to bottom,#43B1F1 0,#43B1F1 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#43B1F1',endColorstr='#43B1F1',GradientType=0);
}
.panel-divider{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*TO TOP Button CSS*/
.fix-layout {
    bottom: 20px;
    position: fixed;
    right: 20px;
    z-index: 20;
}
.gb-operation-area {
    width: 45px;
}
.gb-operation-area .gb-operation-button {
    display: block;
    height: 45px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}
.gb-operation-area .gb-operation-button .gb-operation-icon {
    display: block;
    height: 25px;
    margin: 10px auto 0;
    width: 25px;
}
.gb-operation-area .gb-operation-button .gb-operation-text {
    display: none;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
}
.gb-operation-area .gb-operation-button:hover .gb-operation-text {
    display: block;
}
.gb-operation-area .gb-operation-button:hover .gb-operation-icon {
    display: none;
}
.os-ios .gb-operation-area .gb-operation-button:hover .gb-operation-text {
    display: none;
}
.os-ios .gb-operation-area .gb-operation-button:hover .gb-operation-icon {
    display: block;
}
.gb-operation-area .return-top .gb-operation-icon {
    background-image: url("/images/profile.32-ytg131204101815.png?max_age=19830212");
    background-position: 0 -42px;
}
.gb-operation-area .feedback .gb-operation-icon {
    background-image: url("/images/profile.32-ytg131204101815.png?max_age=19830212");
    background-position: -26px -42px;
    margin-left: 11px;
    width: 28px;
}
.gb-operation-area .hot-msg .gb-operation-icon {
    background-image: url("/images/profile.32-ytg131204101815.png?max_age=19830212");
    background-position: -55px -42px;
}
.gb-operation-area .report .gb-operation-icon {
    background-image: url("/images/profile.32-ytg131204101815.png?max_age=19830212");
    background-position: -81px -42px;
}

