<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{page.title}}</title>
  <link rel="stylesheet" href="resources/css/main.css?{{site.time | date:%Y%m%d%H%M%S}}" type="text/css" media="screen" />
  <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.css" rel="stylesheet">
  <!-- add cdn jquery-->
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <!-- add cdn bootstrap -->
  <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.js"></script>
  <script type="text/javascript" src="resources/js/main.js"></script>
</head>
<body>
  <div class="{{page.article-class}}">
    {{content}}
  </div>
</body>
</html>
