---
layout: default
---
<h1>
  {{page.title}}
  <small>
    {% for cat in page.tags %}
    <span class="badge badge-info"><a href="/list-tags.html#{{cat}}">{{cat}}</a></span>
    {% endfor %}
    <span class="badge badge-info pull-right">字数：{{page.content|number_of_words}}</span>
  </small>
</h1>

<ol class="breadcrumb">
  <li><a href="/index.html">首页</a></li>
  <li><a href="/{{page.category}}/">{{page.category}}</a></li>
  <li class="active">{{page.title}}</li>
</ol>
<div id="post">

{{ content }}
</div>
<div class="related">
  <h1><small>相关推荐：</small></h1>
  <ul class="list-unstyled">
    {% for post in site.related_posts limit:5 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<!-- comments powered by Disqus-->
<div class="panel-divider"></div>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'ccdevote'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


<!--end comments-->
